<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="opticalConnection" connectionString="Data Source=KAZIDESKTOP\SQLEXPRESS;Initial Catalog=DinnoOptical; Integrated Security=true; user id=sa; password=sa1234"
      providerName="System.Data.SqlClient" />
    <add name="Optiks.Properties.Settings.DinnoOpticalConnectionString"
      connectionString="Data Source=Desktop-acer\sqlexpress;Initial Catalog=DinnoOptical;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
